<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/board.css">
    <script>
        function del(){
            if(confirm("삭제하시겠습니까?")){
                location.href="/delete/<%=data.id%>";
            }
        }
    </script>
    <title>Document</title>
</head>
<body>
    <h1>글내용</h1>
    <hr />
    <table width="80%" border="1"> 
        <tr>
            <th>ID</th>
            <td><%=data.id%></td>
        </tr>
        <tr>
            <th>TITLE</th>
            <td ><%=data.title%></td>
        </tr>
        <tr>
            <th>CONTENT</th>
            <td style="valign:top; width:80%;height:300px;">
                <pre><%=data.content%></pre>
            </td>
        </tr>
        <tr>
            <th>DATE</th>
            <td width="80%"><%=data.wdate%></td>
        </tr>
    </table>
    <p></p>
    <!-- command  -->
    <table width="80%" border="1">
        <tr>
            <th>ID</th>
            <th>CONTENT</th>
            <th>DATE</th>
        </tr>
        <% data2.forEach(function(item,index){ %>
            <tr>
                <td><%=item.id%></td>
                <td width="80%"><%=item.content%></td>
                <td><%=item.wdate%></td>
            </tr>

       <% });%>

    </table>
    <!-- end command -->
    <a href="/insert">등록</a>
    <a href="/edit/<%=data.id%>">수정</a>
    <a href="#" onclick="del()">삭제</a>
    <a href="/">목록</a>
</body>
</html>